body, div, h3, ul, li, button {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font: inherit;

}

.canvas {
  display: block;
  width:1000px;
  margin: 0 auto;
  border: 5px solid black;
}

h3 {
  font-size: 35px;
}
body {
  font-family: sans-serif;
  background: white;
}

.sidebar {
  text-align: center;
  border: 1px solid #333333;
  width: 618px;
  height: 220px;
  color: #756d67;
  margin: 10px auto;
  background: #d7d7e0;
}


ul {
  display: block;
  float: left;
}

li {
  padding: 10px;
}

button {
  width: 110px;
  display: block;
  height: 50px;
  float: right;
  margin-right: 110px;
  margin-bottom: 20px;
}

button:hover {
  cursor:pointer;
}
