body, div, h3, ul, li, h6, button {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font: inherit;
}

.main {
  width: 1260px;
  float:right;
}
.canvas {
  display: block;
  width:900px;
  border: 5px solid black;
}

h3 {
  font-size: 35px;
}
body {
  font-family: sans-serif;
  background: black;
}

.sidebar {
  text-align: center;
  border: 1px solid #333333;
  width: 1000px;
  height: 250px;
  color: #756d67;
  margin: 10px auto;
  background: #d7d7e0;
}

.left-sidebar {
  float:left;
}

.left-sidebar img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

h6 {
  color:white;
  text-align: center;
  margin-top: 80px;
}

.right-sidebar {
  float:right;
}

.right-sidebar img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

ul {
  width: 150px;
  display: block;
  float: left;
  color: #055d05;
}

.ul-2 {
  color: #c50707;
}

li {
  font-size: 16px;
  color: white;
  width: 70px;
  float: right;
  margin: right:10px;
  margin-right: 10px;
  margin-top: 15px;
  padding-top: 20px;
}

.buttons {
  float: left;
  font-size: 16px;
}

button {
  width: 110px;
  display: block;
  height: 50px;
  float: right;
  margin-right: 110px;
  margin-bottom: 20px;
}

button:hover {
  cursor:pointer;
}

a {
  float: right;
  text-decoration: none;
  margin: 0 10px;
  color: #756d67;
}

footer {
  width: 875px;
  margin: 0 auto;
  font-size: 22px;
}
