.sidebar {
  float: right;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #333333;
  width: 220px;
  height: 618px;
  color:white;
}

body {
  background: #c0c0c0;
}

ul {
  margin-top: 200px;
}

li {
  padding: 15px;
}

button {
  margin: 0 auto;
  width: 110px;
  height: 50px;
}

button:hover {
  cursor:pointer;
}
